﻿
/*START REGION : login page style*/
@font-face {
    font-family: 'AGENCYB';
    src: url('../fonts/AGENCYB.TTF') format('truetype');
}

@font-face {
    font-family: 'AGENCYR';
    src: url('../fonts/AGENCYR.TTF') format('truetype');
}
.appTele {
    font-family:'AGENCYR';
    
    font-size: 34pt;
    color: #89CCE2;        
}



.appSales {
    font-family:'arial black';
    font-size: 36pt;
    font-weight:900;
    color: #F05033;
}
.appTool {
    font-family:'arial';
    font-size: 20pt;
    color: #808080;
}
.appVersion{
    font-family:tahoma, arial, sans-serif;
    font-size:10px;
    font-weight: 700;
    color:#333333;
  }
  .appCopyright{
    font-family:tahoma, arial, sans-serif;
    font-size:10px;
    font-weight: 700;
    color:#333333; 
  }
.appFooter{
    font-family:tahoma, arial, sans-serif;
    font-size:10px;
    font-weight: 700;
    color:#eaf3f8;
    justify-content: center;
    text-align:center;
}
.headerTitle{
    font-family:'Agency FB';
    font-size: 14pt;
    color: #89CCE2;        
}
.headerMainTable {
  margin-left:auto; 
  margin-right:auto;
  width:100%;

  border:0; 
  
}

.loginMainTable{
  margin-left:auto; 
  margin-right:auto;
  width:674px;
  height:470px;
  background-image:url(/graphics/bg_login.jpg);
}

.loginLabel {
    text-align: right;
    font-family: 'AGENCYR';
    font-size: 12pt;
    color: #808080;
    width: 96px;
}

.errMsgTD {
    height:25px;
    text-align:right;
    padding-right: 45px;
    font-family:tahoma, arial, sans-serif;
    font-size:14pt;
    font-weight: 900;
    color:red;
}

.centerFlex {
  align-items: center;
  display: flex;
  justify-content: center;
}



/* Grey gradient effect for textboxes*/
.txtInput {
	background-image:url(../graphics/form_bg.jpg);
	background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	width: 230px;
	color:#333333;
	padding:3px;
	margin-right:4px;
	margin-bottom:8px;
	font-family:tahoma, arial, sans-serif;
}

/* Orange login button*/

.butt, .input {
  padding: .30rem;
  margin: .375rem;

  background-color: white;
  border-radius: 4px;
}

  .butt:focus, .input:focus {
    outline: none;
  }

.butt {
    border: 2px solid #f35626;
    line-height: 1.375;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-weight: 700;
    color: #f35626;
    cursor: pointer;
    background-image: url(../graphics/form_bg.jpg);
    background-repeat: repeat-x;
    -webkit-animation: hue 60s infinite linear;
    -moz-animation: hue 60s infinite linear;
    -o-animation: hue 60s infinite linear;
    animation: hue 60s infinite linear;
}
  .butt--primary {
    background-color: #f35626;
    color: #fff;
  }


/*END REGION : login page style*/

 
  