﻿.bodymail {
}

.bodymail .th, .td { padding: 5px; }
.mailtable { 
    font-family:tahoma, arial, sans-serif;
    font-size:12px;
    color: #525252;    
    border:1px solid #6286a0; 
    border-collapse: separate; 
    border-spacing: 5px;  
    width:740px}

.packageHeader {
    font-family:tahoma, arial, sans-serif;
    font-weight: 700;
    font-size:14px;
    color: #323c78;
    text-decoration: underline;    

}

.price {
    font-weight: 700;
}

.transarr {
    font-family:tahoma, arial, sans-serif;
    text-align:justify;
    font-size:11px;
    color: #323c78;

}
.username {
font-weight: 700;
}
.footer {
    font-family:tahoma, arial, sans-serif;
    font-size:10px;
    color:#6286a0;
    justify-content: center;
    text-align:center;
}
.mailbox {

position: absolute;
    top: 5px;
left: 5px;    
}
.sendmailbutton {
 position: absolute;
        bottom: 5px;
        right: 10px;
        z-index: 10;
}

