﻿html, body {width: 100%;height: 100%;margin: 0;padding: 0;overflow: hidden;}
.bodyerror {
    font-family:'AGENCYR';
    font-size: 34pt;
   
    color: #eaf3f8;
    background-color:#3f4f6f
}

/*START REGION : login page style*/
@font-face {
    font-family: 'AGENCYR';
    src: url('../fonts/AGENCYR.TTF') format('truetype');
}

.appTele {
    font-family:'AGENCYR';
    font-size: 34pt;
    color: #89CCE2;        
}
.appSales {
    font-family:'arial black';
    font-size: 36pt;
    font-weight:900;
    color: #F05033;
}
.appTool {
    font-family:'arial';
    font-size: 20pt;
    color: #808080;
}
.appVersion{
    font-family:tahoma, arial, sans-serif;
    font-size:10px;
    font-weight: 700;
    color:#333333;
  }
  .appCopyright{
    font-family:tahoma, arial, sans-serif;
    font-size:10px;
    font-weight: 700;
    color:#333333; 
  }
.appFooter{
    font-family:tahoma, arial, sans-serif;
    font-size:10px;
    font-weight: 700;
    color:#eaf3f8;
    justify-content: center;
    text-align:center;
}
.headerTitle{
    font-family:'AGENCYR';
    font-size: 14pt;
    color: #89CCE2;        
}
.headerMainTable {
  margin-left:auto; 
  margin-right:auto;
  width:100%;

  border:0; 
  
}
.testPageText{
    font-family:tahoma, arial, sans-serif;
    font-size:10px;
    color:#333333;
}


.loginMainTable{
  margin-left:auto; 
  margin-right:auto;
  width:674px;
  height:470px;
  background-image:url(/graphics/bg_login.jpg);
}

.loginLabel {
    text-align: right;
    font-family: 'AGENCYR';
    font-size: 12pt;
    color: #808080;
    width: 96px;
}

.errMsgTD {
    height:25px;
    text-align:right;
    padding-right: 45px;
    font-family:tahoma, arial, sans-serif;
    font-size:14pt;
    font-weight: 900;
    color:red;
}

.centerFlex {
  align-items: center;
  display: flex;
  justify-content: center;

}
/* .bottomFooter : unused*/
.bottomFooterold {
    position:absolute;
    width:100%;
    height:30px;
    background:#4895c0;
    background:#fff url(../graphics/dolphin/dolphin_bg.gif) repeat-x bottom left;
    align-items: center;
    display: flex;
    justify-content: center;
}


/* Grey gradient effect for textboxes*/
.txtInput {
	background-image:url(../graphics/form_bg.jpg);
	background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	width: 230px;
	color:#333333;
	padding:3px;
	margin-right:4px;
	margin-bottom:8px;
	font-family:tahoma, arial, sans-serif;
}

/* Orange login button*/

.butt, .input {
  padding: .30rem;
  margin: .375rem;

  background-color: white;
  border-radius: 4px;
}

  .butt:focus, .input:focus {
    outline: none;
  }

.butt {
    border: 2px solid #f35626;
    line-height: 1.375;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-weight: 700;
    color: #f35626;
    cursor: pointer;
    background-image: url(../graphics/form_bg.jpg);
    background-repeat: repeat-x;
    -webkit-animation: hue 60s infinite linear;
    -moz-animation: hue 60s infinite linear;
    -o-animation: hue 60s infinite linear;
    animation: hue 60s infinite linear;
}
  .butt--primary {
    background-color: #f35626;
    color: #fff;
  }


/*END REGION : login page style*/

  /* the ugly black perfs counter style*/
  .odometer {font-size: 16px;background-image:url('/graphics/odometer/preview_Grey-Pattern.jpg')}

  /* the simple jscript gauge which is not really sexy by the way...*/
  .cwgaugeglobal {
        width: 100px;
        height: 80px;
        position: absolute;
        bottom: 40px;
        left: 20px;
        z-index: 10;
        background-color:#ffffd2;
        opacity: 0.9;
        background-size: 50% 50%;
        background-size: cover;
        -webkit-box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.75);
        border-radius: 25px;
        background-position: left top;
        background-repeat: repeat;
        padding: 20px;
        
    }


  /* classes used to draw the header and footer in the dhtmlx layout container*/
  .my_hdr {
			background-color: white;
			padding-bottom: 2px;           
		}
		.my_ftr {
			background-color: white;
			padding-top: 2px;
		}
		.my_hdr .text{
        	font-family: Tahoma;
			font-size: 12px;
			height: 80px;
			border: 1px solid #a4bed4;
            
		}
		.my_ftr .text {
			font-family:tahoma, arial, sans-serif;
			font-size: 10px;
	        font-weight: 700;		
			color:#eaf3f8;
            height: 30px;
            background:#4895c0;
            background:#fff url(../graphics/dolphin/dolphin_bg.gif) repeat-x bottom left;
            align-items: center;
            display: flex;
            justify-content: center
		}

     .cwprofile {
        width: 105px;
        height: 105px;
        position: absolute;
        top: 7px;
        left:50px;
        z-index: 10;
        background: url('/graphics/people/boy-dummy.png')center ;
        background-size: 100% 100%;
        background-size: cover;
        -webkit-box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.75);
        border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    }
.cwprofilepicture {
     width: 105px;
        height: 105px;
        position: absolute;
        z-index: 10;
        background-size: 100% 100%;
        background-size: cover;
        -webkit-box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.75);
        border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.salescounters {
        position: absolute;
        top: 32px;
        right:220px;
        font-family:tahoma, arial, sans-serif;
        font-size:10px;
        font-weight: 700;
        color:#000000;
        z-index: 2;


}

    .UserDailyCallTime {
        position: absolute;
        top: 29px;
        left:170px;
        font-family:tahoma, arial, sans-serif;
        font-size:10px;
        font-weight: 700;
        color:#8091b2;
        z-index: 2;
    }
	
	.UserMeetingStatus {
        position: absolute;
        top: 29px;
        left:260px;
        font-family:tahoma, arial, sans-serif;
        font-size:10px;
        font-weight: 700;
        color:#8091b2;
        z-index: 2;
    }

    .UserFriendlyInfo {
        position: absolute;
        top: 7px;
        right:10px;
        font-family:tahoma, arial, sans-serif;
        font-size:10px;
        font-weight: 700;
        color:#8091b2;
        z-index: 2;
    }
    .cwsalesPosition {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 27px;
        left:7px;
        background: url('/graphics/podium/cw32.png')center ;
        background-size: 100% 100%;
        background-size: cover;
        z-index: 2;
    }
    .cwHeaderContainer {
        left:5px;
        width: 99%;
        height: 40px;
        position: absolute;
        border: 1px dotted #a4bed4;
        top: 27px;
        background-image: url(/graphics/light_grey_curves_1280X100.jpg);
        background-repeat: repeat-x;
        z-index: 1;
        
    }
    .cwSalesresults{
        border: 0 dotted #a4bed4;
        width: 350px;
        height: 30px;
        position: absolute;
        top: 35px;
        right:200px;
        text-align: right;
        z-index: 1;

    }

    .cwAppLogoContainer{
        z-index: 1;
        position: absolute;
        top: 25px;
        right:16px;
        width: 180px;
        height: 40px;
    }
    
    .cwappTele {
        font-family: 'AGENCYR';
        font-size: 19pt;
        color: #89CCE2;
    }
     .cwappSales {
    font-family:'arial black';
    font-size: 20pt;
    font-weight:900;
    color: #F05033;
}
    .cwappTool {
        font-family:'arial';
        font-size: 14pt;
        color: #808080;
    }
    .cwappVersion{
        font-family:tahoma, arial, sans-serif;
        font-size:8px;
        font-weight: 700;
        color:#333333;
        position: absolute;
        top: 55px;
        right:10px;
        z-index: 8;
        width: 45px;
      } 
    
    /* layout object positioning*/
.leadHeader {
        font-family:arial, sans-serif,tahoma;
        font-weight: 700;
        font-size:10px;
        background-color:#3f4f6f;
        color:#ffffec;
        text-align : left;

}

    .LeadDetails{
        font-family:arial, sans-serif,tahoma;
        font-size:12px;
        color:#3f4f6f;
        background-color:#ffffec;
        text-align : left;
    }

    .CWCyDetails{
        position: absolute;
        top: 5px;
        left:10px;
    }
    
    .CwCyName{
        font-family:arial, sans-serif,tahoma;
        font-size:18px;
        font-weight: 700;
        color:#353b46;
    }
    .CwCyInfo{
        font-family:arial, sans-serif,tahoma;
        font-size:14px;
        color:#808080;
        vertical-align:text-top ;
    }
    .CwCylblInfo{
        font-family:arial, sans-serif,tahoma;
        font-size:10px;
        color:rgba(0,0,0,0.75);
        font-weight: 700;
        text-align : right;
        
    }
     .CwCylblMandatesTitle{
        font-family:arial, sans-serif,tahoma;
        font-size:14px;
        font-weight: 700;
        color:#353b46;
        
    }
    .CwCylblMandates{
        font-family:arial, sans-serif,tahoma;
        font-size:12px;
        color:#eaf3f8;
        background-color:#3f4f6f;
        font-weight: 700;
        text-align : left;
        
    }
.CwCylblMandatesInfo {
        font-family:arial, sans-serif,tahoma;
        font-size:12px;
        color:#3f4f6f;
        background-color:#eaf3f8;
        text-align : left;
}
    .currentstatus{
        font-family:arial, sans-serif,tahoma;
        font-size:18px;
        font-weight: 700;
        color:#eaf3f8;
        background:#4895c0;
        border: 1px dotted #333333;
        
    }

    .objCytoolBox {
    border: 0 dotted #a4bed4;
    width: 310px;
    height: 30px;
    position: absolute;
    top: 2px;
    right: 5px;
    text-align: right;
    z-index: 1; 
}

    .CWCyBarometer{
        position: absolute;
        top: 5px;
        right:5px;
    }
    .BOCyName{
        font-family:arial, sans-serif,tahoma;
        font-size:12px;
        font-weight: 700;
        color:#fff;
        border:1px dotted rgba(0,0,0,0.75);
        background-color:#f05033;
    }
    .STInfo{
        font-family:arial, sans-serif,tahoma;
        font-size:11px;
        color:rgba(0,0,0,0.75);
        text-align : left;
        vertical-align:text-top ;
    }
    .BOInfo{
        font-family:arial, sans-serif,tahoma;
        font-size:11px;
        color:rgba(0,0,0,0.75);
        text-align : left;
        vertical-align:text-top ;
    }
.syslogtext {
    font-family: arial, sans-serif,tahoma;
    font-size: 10px;
    color: rgba(0,0,0,0.75);
    text-align: left;
}

.eventCompanyName {
    font-family: arial, sans-serif,tahoma;
    font-size: 12px;
    font-weight: 700;
    color: rgba(0,0,0,0.75);
    text-align: left;
}

.eventlist {
    font-family: arial, sans-serif,tahoma;
    font-size: 10px;
    color: rgba(0,0,0,0.75);
    text-align: left;
    background-color:#eaf3f8;
}
.eventhistory {
    width: 100%;
    height: 150px;
    overflow: scroll;
    font-family: arial, sans-serif,tahoma;
    font-size: 11px;
    font-weight: 100;
    color: #3f4f6f;
    text-align: left;
    resize: both;
    overflow: auto;
}
.eventhistorymini {
    width: 100%;
    height: 140px;
    overflow: scroll;
    font-family: arial, sans-serif,tahoma;
    font-size: 11px;
    font-weight: 100;
    color: #3f4f6f;
    text-align: left;
    resize: both;
    overflow: auto;
}

.eventContactHeader {
    font-family: arial, sans-serif,tahoma;
    font-size: 11px;
    font-weight: 700;
    color: rgba(0,0,0,0.75);
    background-color:#eaf3f8;
    text-align: left;
}

.commontitle {
    font-family:tahoma, arial, sans-serif;
    font-size:10px;
    font-weight: 700;
    color:#8091b2;
    border: 1px dotted #a4bed4;
}
.lockedtrial {
    font-family:tahoma, arial, sans-serif;
    font-size:10px;
    font-weight: 700;
    color:#fe0000;
    text-decoration: line-through;
}
.nakedtitle {
    font-family:tahoma, arial, sans-serif;
    font-size:10px;
    font-weight: 700;
    color:#808080;
}
.nakedtitleNotEditable {
    font-family:tahoma, arial, sans-serif;
    font-size:10px;
    font-weight: 700;
    color:#fe0000;
}
.nakedcellheader {
    font-family:tahoma, arial, sans-serif;
    font-size:10px;
    font-weight: 700;
    color:#3f4f6f;
    background-color:#eaf3f8;
    border-bottom:1px solid #a4bed4;
    border-right:1px solid #a4bed4;
    border-top:1px solid #4895c0;
    border-left:1px solid #4895c0;
}

.btnSendMail {
    font-family: tahoma, arial, sans-serif;
    font-size: 10px;
    font-weight: 700;
    color: #8091b2;   
    vertical-align:top;
    margin: auto;
    text-align: left;
    
}


.lightboxheader {
    width: 100%;
    font-family: arial, sans-serif,tahoma;
    font-size: 14px;
    font-weight: 700;
    color: #3f4f6f;
    text-align: left;
}

.onmouseoverphone {
    cursor: url('../graphics/common/win_16x16/Contact.png'),auto;
}
.onmouseovermail {
        cursor: url('../graphics/common/win_16x16/email.png'),auto;
}
.onmouseovercontact {
        cursor: url('../graphics/common/win_16x16/add1.png'),auto;
}
.onmouseoveredit {
    cursor: url('../graphics/common/win_16x16/edit.png'),auto;
}
.onmouseoverdel {
        cursor: url('../graphics/common/win_16x16/delete1.png'),auto;
}
.onmouseoveradd {
        cursor: url('../graphics/common/win_16x16/add.png'),auto;
}
.onmouseovermobile{
        cursor: url('../graphics/common/win_16x16/mobilephone.png'),auto;
}
.onmouseoverlookup{
        cursor: url('../graphics/common/win_16x16/Monitoring.png'),auto;
}
.onmouseovereuro{
        cursor: url('../graphics/common/win_16x16/Activation16.png'),auto;
}

.onmouseovercwnfo
{
        cursor: url('../graphics/common/win_16x16/cw16.png'),auto;
}

.onmouseoverownership
{
        cursor: url('../graphics/common/win_16x16/Rotate-view-tool.png'),auto;
}

.onmouseoverblacklist
{
        cursor: url('../graphics/common/win_16x16/blacklist.png'),auto;
}

.tblbusinessdata {
    width :100%;
    
}

.tblbusinessdata .tdtop{
vertical-align:top;
width : 50%;
}

.innertblbusinessdata{
    font-family:tahoma, arial, sans-serif;
    font-size:10px;
    width :94%;
    border: 1px dotted #a4bed4;
    vertical-align:text-top ;
    

}
.innerProductSelector{
    font-family:tahoma, arial, sans-serif;
    font-size:10px;
    width :100%;
    border: 1px dotted #a4bed4;
    vertical-align:text-top ;
    

}
    .innertblbusinessdata .header{
        width :100%;
        color: #eaf3f8;
        font-weight: 700;
        background-color:#6a7696;
        vertical-align:text-top ;
    }

.itemheader {
    font-family:tahoma, arial, sans-serif;
    font-size:10px;
        width :85px;
        color: #fff;
        font-weight: 700;
        background-color:#4d586f;
        vertical-align:middle ;

}
.leadcold {
    color: #032231;
    font-weight: 700;
    background-color:#aee2ff;
}
.leadhot {
    
    font-size:11px;
    font-weight: 700;
    color: #fff;
    background-color:#ff5d00;

}
.leadnew {
    background-color:#d6f8a9;
}
.sendbutton {
    font-size:10px;
    font-weight: 700;
    color: #eaf3f8;
    background-color:#7486dd;
}

.maindocmgtcontainer {
    font-family:tahoma, arial, sans-serif;
    font-size:10px;
    width :100%;
    height :100%;
    border: 1px groove #3f4f6f;
    vertical-align:text-top ;
}
.insideeditorObj {
	font-family:Calibri, arial, sans-serif;
    font-size:11px;	 	 
    width: 100%;
		 	 height: 350px;
		 	 border: 1px solid #a4bed4;
		 }
.acclevellocked {
        font-size:12px;
    font-weight: 700;
    color: #eaf3f8;
    background-color:#bb1313;
}
.acclevelunlocked {
        font-size:12px;
    font-weight: 700;
    color: #fff;
    background-color:#08c320;
}

.myts_UserFriendlyInfo {
        font-family:tahoma, arial, sans-serif;
        font-size:12px;
        
        color:#333333;
        z-index: 2;
    }
.schedulerDate {
    font-family:tahoma, arial, sans-serif;
        font-size:12px;
        font-weight: 700;
        color:#333333;
}
.schedulerEventType {
    font-family:tahoma, arial, sans-serif;
        font-size:12px;
        font-weight: 700;        
}
.schedulerEventTypeGreen {
    font-family:tahoma, arial, sans-serif;
        font-size:12px;
        font-weight: 700;
        color:#eaf3f8;
        background-color:#149023;        
}
.schedulerEventTypeRed {
    font-family:tahoma, arial, sans-serif;
        font-size:12px;
        font-weight: 700;
        color:#eaf3f8;
        background-color:#fe0000;        
}


.reassigned_ev{
display: none;
}
.leadtrial {
    font-family:tahoma, arial, sans-serif;
        font-size:12px;
        font-weight: 700;
        color:#eaf3f8;
        background-color:#149023;
}
.dirtylead{
    font-family:tahoma, arial, sans-serif;
        font-size:12px;
        font-weight: 700;
        color:rgba(255,255,255,0.75);
	text-align:center;
        background: radial-gradient(ellipse farthest-corner, #c6ccc6 0%, #000 90%);
        text-shadow: #c6ccc6 4px 4px 3px; 
	box-shadow: 7px 7px 10px 0px rgba(198, 204, 198, 1);
}
.low_usage {
	    font-family:tahoma, arial, sans-serif;
        font-size:12px;
        font-weight: 700;
	text-align:center;
        color:rgba(255,255,255,0.75);
        background: radial-gradient(ellipse farthest-corner, #fd6c9e 0%, #000 90%);
}
.leaving_subscription{
	    font-family:tahoma, arial, sans-serif;
        font-size:12px;
        font-weight: 700;
	text-align:center;
        color:rgba(255,255,255,0.75);
	background: radial-gradient(ellipse farthest-corner, #ffd300 0%, #000 90%);
}
.bottomFooter {
position: fixed;
Width: 100%;
bottom: 0;
}


.alert-box {
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 10px 10px 36px;
    margin:10px;
}
.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}

.error{
    background:#ffecec url('/assets/images/error.png') no-repeat 10px 50% ;
    border:1px solid #f5aca6 ;
}
.error-nobackground{
    background:#ffecec;
    border:1px solid #f5aca6 ;
}
.dhtmlx-errormessage {
	color:#555 ;
    border-radius:10px ;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px ;
    padding:10px 10px 10px 36px ;
    margin:10px ;
	background:#ffecec url('/assets/images/error.png') no-repeat 10px 50% ;
    border:1px solid #f5aca6 ;
	font-weight:bold;
	font-variant:small-caps;
}
.success-nobackground{
    background:#e9ffd9;
    border:1px solid #a6ca8a ;
}

.success{
    background:#e9ffd9 url('/assets/images/success.png') no-repeat 10px 50% ;
    border:1px solid #a6ca8a ;
}
.dhtmlx-successmessage {
	color:#555 ;
    border-radius:10px ;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px ;
    padding:10px 10px 10px 36px ;
    margin:10px ;	
    background:#e9ffd9 url('/assets/images/success.png') no-repeat 10px 50% ;
    border:1px solid #a6ca8a ;
	font-weight:bold;
	font-variant:small-caps;
	}
.warning{
    background:#fff8c4 url('/assets/images/warning.png') no-repeat 10px 50% ;
    border:1px solid #f2c779 ;
}
.dhtmlx-warningmessage {
	color:#555 ;
    border-radius:10px ;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px ;
    padding:10px 10px 10px 36px ;
    margin:10px ;
    background:#fff8c4 url('/assets/images/warning.png') no-repeat 10px 50% ;
    border:1px solid #f2c779 ;
	font-weight:bold;
	font-variant:small-caps;
	}
.notice{
    background:#e3f7fc url('/assets/images/notice.png') no-repeat 10px 50% ;
    border:1px solid #8ed9f6 ;
}
.dhtmlx-noticemessage {
	color:#555 ;
    border-radius:10px ;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px ;
    padding:10px 10px 10px 36px ;
    margin:10px ;
    background:#e3f7fc url('/assets/images/notice.png') no-repeat 10px 50% ;
    border:1px solid #8ed9f6 ;
	font-weight:bold;
	font-variant:small-caps;
	}
.validate_error .dhxform_textarea{
    background:#ffecec;
    border:1px solid #f5aca6 ;
}