﻿/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; font-family: Arial, Helvetica, sans-serif; }
html, button, input, select, textarea { font-family: Arial, Helvetica, sans-serif; color: #757575; }
body {margin: 0; width: 100%; font-size: 15px; line-height: 1.4; }

/*
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }
*/

a { color: #64a2ab; }
a:visited { color: #64a2ab; }
a:hover { color: #8dc5cd; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
.spacer { margin-left:40px;}
.spacerbig { margin-left:216px;}
.spacerbigfr { margin-left:199px;}

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
.testimonial
{
    padding: 20px;
}
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }

/*input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }*/
input[type="checkbox"], input[type="radio"] {     
    padding: 0; width: 13px; height:13px; vertical-align: baseline; *vertical-align: middle; 
    color: #CC0000; border: 0; font-size: 1px; margin-right:10px; margin-bottom:25px; margin-top:3px;
     }

div[role="selectionfields"] input[type="checkbox"], input[type="radio"] {margin-bottom:5px;  }
div[role="datacheckfields"] input[type="checkbox"], input[type="radio"] {margin-bottom:5px;  }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }

.whiteback {background-color:White;}

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; } 

/* ===== Primary Styles ========================================================
   Author: 
   ========================================================================== */

/* font faces */
@font-face { font-family: 'companyweb'; src: url('font/flama-webfont.eot'); src: url('font/flama-webfont.eot?#iefix') format('embedded-opentype'), url('font/flama-webfont.ttf') format('truetype'), url('font/flama-webfont.svg#companyweb') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'companyweb'; src: url('font/flama-bold-webfont.eot'); src: url('font/flama-bold-webfont.eot?#iefix') format('embedded-opentype'), url('font/flama-bold-webfont.ttf') format('truetype'), url('font/flama-bold-webfont.svg#companyweb') format('svg'); font-weight: bold; font-style: normal; }

/* general */
html, body { height: 100%; }
div[role] { width: 960px; margin: auto; }
div[role="bereport"] { width: 1100px; margin: auto; }

h1, h2, h3, h4, h5 { font-family: 'companyweb', Arial, Helvetica, sans-serif; font-weight: normal; }
h1 { font-size: 38px; color: #212121; margin: 30px 50px 30px 0; } /* font-size: 48px; margin: 15px 0 45px 0;*/
.GAh3 {margin-bottom:-10px;}

h2 { color: #212121; font-size: 20px; margin-top: 0px; margin-bottom: 0px; }
	h2 a { color: #64a2ab; text-decoration: none; }
	h2 a:hover { color: #8dc5cd; text-decoration: none; }
	
h3 { color: #212121; font-size: 20px; margin-top: 0px; margin-left:25px; margin-bottom:0px;}
	
	
p { color: #757575; }
	
ul { padding-left: 20px; }
ul li { list-style-image: url(../img/listitem.png); }
	
.floatleft { float: left; }
.floatright { float: right; }
.explanation { color: #b3b3b3; font-family: Arial, Helvetica, sans-serif;  }
.nounderline { text-decoration: none; }
.red { color: #eb3c34; }
	a.red:hover { opacity:0.8; filter:alpha(opacity=80); }
	a.red:visited { color: #eb3c34; }
.grey { color: #afafaf; }	
.black { color: #757575; }
.green { color: #64a2ab; }
.greenkrediet { color: #339933; }
.relative { position: relative; }
.question { color: #b3b3b3; }
.reset { font-size: 12px; }
.password-clear { display: none; }
.hide { display: none; }

.risico { width: 5px; min-height: 47px; height: auto !important; }
	.risico.risicozn { background-color: #eb3c34; }

form.nopadding { padding: 0; }
form.smallpadding { padding: 5px; }
form.mediumpadding { padding: 20px; }

#ie7warning { display: none; }
	
div[role] .lastcta { margin-bottom: 0px; }

/* form elements */
form { padding: 40px; }
input, textarea { /*font-family: Arial, Helvetica, sans-serif; */color: #b3b3b3; padding: 10px 15px 10px 15px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -moz-box-shadow: inset 1px 1px 4px #e6e6e6; -webkit-box-shadow: inset 1px 1px 4px #e6e6e6; box-shadow: inset 1px 1px 4px #e6e6e6; border: 1px solid #cecece; background: #FFF; font-size: 15px; }
input { width: 330px; margin-bottom: 7px; padding: 10px 15px 10px 15px; }
input.nopadding { padding: 0; }
input.smallpadding {padding: 5px 5px 5px 5px; }

input.inputs { width: 20px; }
input.inputm { width: 45px; }
input.inputl { width: 80px; }
input.inputxl { width: 165px; }
input.inputxxl { width: 190px; }

input.inputm.nopadding { padding-top: 2px; padding-bottom: 2px; margin-top:2px;left:0; }
input.inputs.nopadding { padding-top: 2px; padding-bottom: 2px; margin-top:2px;left:0; }
input.inputl.nopadding { padding-top: 2px; padding-bottom: 2px; margin-top:2px;left:0; }

textarea { width: 180px; height: 88px; margin: 0px 0 10px 0; }
textarea.big { width: 600px; height: 180px; font-size: 15px; font-weight:normal;}
textarea.excelback { background-image: url('../img/excelback.jpg'); background-repeat: repeat-y; padding: 0 0 0 10px; width: auto; resize: both; }
textarea.excelbacksmall { background-image: url('../img/excelback.jpg'); background-repeat: repeat-y; padding: 0 0 0 10px; width: 109px; resize: both; }
textarea.excelbackbig { background-image: url('../img/excelback.jpg'); background-repeat: repeat-y; padding: 0 0 0 10px; width: auto; resize: both; height:150px;}

.styled-select select { background: transparent; width: 288px; padding: 0; font-size: 15px; border: 1px solid #ccc; height: 26px; -webkit-appearance: none; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -moz-box-shadow: inset 1px 1px 4px #e6e6e6; -webkit-box-shadow: inset 1px 1px 4px #e6e6e6; box-shadow: inset 1px 1px 4px #e6e6e6; }
.styled-select { width: 265px; height: 26px; overflow: hidden; background: url(../img/dropdown_arrow.png) no-repeat right #FFF; }
.styled-selectbig select { background: transparent; width: 326px; padding: 0; font-size: 15px; border: 1px solid #ccc; height: 26px; -webkit-appearance: none; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -moz-box-shadow: inset 1px 1px 4px #e6e6e6; -webkit-box-shadow: inset 1px 1px 4px #e6e6e6; box-shadow: inset 1px 1px 4px #e6e6e6; }
.styled-selectbig { width: 303px; height: 26px; overflow: hidden; background: url(../img/dropdown_arrow.png) no-repeat right #FFF; }

select.ddleven { background: #FFF; }
select.ddlodd { background: #fafafa; }

/* logo */
body.closed{ background: transparent url(../img/background_closed.png) top center repeat-x; }

header { width: 960px; margin: auto; padding-bottom: 30px; position: relative; top: 0px; right: 0px; }
header h1 { margin: 0; padding: 22px 0 0 0; }
header h1 a.headernl{ width: 316px; height: 76px; background: transparent url(../img/headerlogonl.png) center center no-repeat; }
header h1 a.headerfr{ width: 316px; height: 76px; background: transparent url(../img/headerlogofr.png) center center no-repeat; }
header h1 a:hover { opacity:0.8; filter:alpha(opacity=80); }
	

/* navigation */
nav[role="nav"] { text-align: right; position: relative; top: 69px; right: -24px; width: 644px; }
	nav[role="nav"] a { font-family: 'companyweb', Arial, Helvetica, sans-serif; font-size: 20px; color: #212121; text-decoration: none; padding-right: 24px; }
	nav[role="nav"] a:hover { color: #64a2ab; }
	nav[role="nav"] a.selected { color: #64a2ab; }
	nav[role="nav"] a.linkwitharrowinfrontred { color: #eb3d34; text-decoration: none; } 
	nav[role="nav"] a.linkwitharrowinfrontred:hover { color:#ff4d45;}
	
nav[role="secnav"] { font-size: 12px; color: #d0d0d0; text-align: right; position: absolute; top: 0px; right: 0px;  z-index: 15; }
	nav[role="secnav"] div { /*background: transparent url(../img/login_overlay_closed.png) top right no-repeat;*/ padding-top: 4px; padding-bottom: 6px; }
	nav[role="secnav"] a { font-size: 12px; text-decoration: none; }
	nav[role="secnav"] .selected { color: #d0d0d0; }
	nav[role="secnav"] .divider { padding: 0 10px 0 10px; }	
	
.closed nav[role="secnav"] div { background: none; padding-top: 4px; }
.closed nav[role="secnav"] a, .closed nav[role="secnav"] span { color: #FFF; }
.closed nav[role="secnav"] a:hover { color: #badadf; }
.closed nav[role="secnav"] .selected { color: #badadf; }
.closed nav[role="secnav"] .divider { color: #badadf; }
.closed nav[role="secnav"] div.loggedinbackcolor { background-color:#46939c; height:14px; padding-left:5px;}

.loggedin { background-color:#46939c; float:right; margin-left:15px;}
.loggedin span { margin-right: 5px; }
.loggedin a:hover { opacity:0.8; filter:alpha(opacity=80); }

.whitearrow { background: transparent url(../img/white_arrow.png) 0px 5px no-repeat; padding-left: 10px; }
.whitearrow:hover { background: transparent url(../img/white_arrow_hover.png) 0px 5px no-repeat; padding-left: 10px; }

div#selectionform form { padding: 0; }
td#treeActivity table, td#treeProfActivity table, form#frmEstDate table { margin-left: 0; }
td.ygtvtm, td.ygtvfocus, td.ygtvtm:hover, td.ygtvfocus:hover { background-color: #FFF; }
div.radioplaceholder { position: relative; left: 35%; top: 0%; }

/* grey boxes */
.greybox  { margin-left:10px; width: 950px;  -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; display: inline-block; background-color: #F3F3F6; }

#sticky.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 10000;
    border-radius: 0 0 0.5em 0.5em;
}
	
.freenl { width: 72px; height: 72px; background: transparent url(../img/gratis.gif) top right no-repeat; padding-top: 22px; position: absolute; top: 0px; right: 0px; }
.freereversenl { position: static; background: transparent url(../img/gratis_reverse.gif) top left no-repeat; }
.freefr { width: 72px; height: 72px; background: transparent url(../img/gratuit.gif) top right no-repeat; padding-top: 22px; position: absolute; top: 0px; right: 0px; }
.freereversefr { position: static; background: transparent url(../img/gratuit_reverse.gif) top left no-repeat; }

.gift { width: 111px; height: 312px; background: transparent url(../img/gift.png) top left no-repeat;position: absolute; margin-left:-72px; margin-top:-80px;}
.giftlint { width: 1000px; height: 80px; background: transparent url(../img/giftlint.png) top left no-repeat;position: absolute; margin-left:-75px; margin-top:-80px;}
	
/* descriptions */
.leftcolumn { width: 580px; }
.leftcolumn p { line-height: 24px; }
.leftcolumn p.last { padding-bottom: 15px; }
	
/* buttons (arrows) */
input.buttonbig { width: auto; color: #FFF; border: none; }
	input.buttonbig:visited { color: #FFF; border: none;  }
	
input.hide, a.hide { display: none; }
	
input.buttonarrow { color: #FFF; }
	input.buttonarrow:visited { color: #FFF; }
	
input.buttongreen { color: #FFF; }
	input.buttongreen:visited { color: #FFF; }
	
input.buttonred { color: #FFF; }
	input.buttonred:visited { color: #FFF; }
	
input.buttonfluogreen { color: #FFF; }
	input.buttonfluogreen:visited { color: #FFF; }

.buttonbig { font-family: 'companyweb', Arial, Helvetica, sans-serif; color: #FFF; text-decoration: none; font-size: 14px; padding: 10px 20px 10px 20px;  margin: 0 21px 1px 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; display: inline-block; }
	.buttonbig:visited { color: #FFF; }
	.buttonbig:hover { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; margin: 1px 20px 0 1px; color: #FFF; }

.buttonsmall { width:35px; font-family: 'companyweb', Arial, Helvetica, sans-serif; color: #FFF; text-decoration: none; font-size: 14px; padding: 10px 10px 10px 10px;  margin: 0 21px 1px 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; display: inline-block; }
	.buttonsmall:visited { color: #FFF; }
	.buttonsmall:hover { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; margin: 1px 20px 0 1px; color: #FFF; }

.buttonbanner
{
    width: 150px;
    font-family: 'companyweb' , Arial, Helvetica, sans-serif;
    color: #FFF;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
    margin: 0 0px 10px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
}
	.buttonbanner:visited { color: #FFF; }
	.buttonbanner:hover { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; color: #FFF; }

	
.buttonarrow { padding-right: 40px; background: transparent url(../img/buttonbigarrow.png) right center no-repeat; }

.buttonred { background-color: #eb3c34; -webkit-box-shadow: 1px 1px 0px rgba(168, 23, 19, 1); -moz-box-shadow: 1px 1px 0px rgba(168, 23, 19, 1); box-shadow: 1px 1px 0px rgba(168, 23, 19, 1); }
	.buttonred:hover { background-color: #ff4d45; }
	
.buttongreen { margin: 1px 20px 1px 0; background-color: #46939c; -webkit-box-shadow: 1px 1px 0px rgba(0, 54, 60, 1); -moz-box-shadow: 1px 1px 0px rgba(0, 54, 60, 1); box-shadow: 1px 1px 0px rgba(0, 54, 60, 1); }
	.buttongreen:hover { background-color: #5b9fa7; margin: 1px 19px 1px 1px; color: #FFF; }
	
.buttonlightgreen { margin: 0px 0px 10px 0px; width: 225px; background-color: #8dc5cd; -webkit-box-shadow: 1px 1px 0px rgba(0, 54, 60, 1); -moz-box-shadow: 1px 1px 0px rgba(0, 54, 60, 1); box-shadow: 1px 1px 0px rgba(0, 54, 60, 1);  }
	.buttonlightgreen:hover { margin: 0px 0px 10px 0px; background-color: #46939c; }

.buttonfluogreen { margin: 1px 20px 1px 0; background-color: #019a4e; -webkit-box-shadow: 1px 1px 0px rgba(0, 54, 60, 1); -moz-box-shadow: 1px 1px 0px rgba(0, 54, 60, 1); box-shadow: 1px 1px 0px rgba(0, 54, 60, 1); }
	.buttonfluogreen:hover { background-color: #03ac58; margin: 1px 19px 1px 1px; color: #FFF; }

.buttonbannergreen { background-color: #46939c; -webkit-box-shadow: 1px 1px 0px rgba(0, 54, 60, 1); -moz-box-shadow: 1px 1px 0px rgba(0, 54, 60, 1); box-shadow: 1px 1px 0px rgba(0, 54, 60, 1); }
	.buttonbannergreen:hover { background-color: #5b9fa7;  color: #FFF; }
	
	
.linkwitharrow { padding-right: 17px; text-decoration: none; font-weight:bold; }
	.linkwitharrow:hover { background-position: right -21px;}
	
.linkwitharrowred { color: #eb3c34; background: transparent url(../img/linkwitharrowred.png) right 3px no-repeat; }
	.linkwitharrowred:visited { color: #eb3c34;}
	.linkwitharrowred:hover { color:#ff4d45;}
	
.linkwitharrowgreen { color: #64a2ab; background: transparent url(../img/linkwitharrowgreen.png) right 2px no-repeat; }
	.linkwitharrowgreen:visited { color: #64a2ab;}
	.linkwitharrowgreen:hover { color:#8dc5cd;}

.buttonplus { padding-left: 40px; background: #64a2ab url(../img/button_plus.png) 15px center no-repeat; }
	
.redbuttons { text-align: right; height: 60px; }
	
.meestgekozen
{
    margin: 10px 163px 0px 0px;
    font-weight: bold;
    text-align: right;
}

/* ctas */
.cta { font-family: 'companyweb', Arial, Helvetica, sans-serif; color: #FFF; text-decoration: none; font-size: 22px; padding: 20px;  margin: 50px 1px 50px 0; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; display: inline-block; width: 920px; background-color: #8dc6cd; text-align: center; }
	.cta:last-of-type { margin-bottom: 0px; }
	.cta p { vertical-align: middle; display: inline-block; margin: 1px 20px 0 1px; color: #FFF; }
	.cta .buttonbig{ margin: 0 1px 1px 0; }
	.cta .buttonbig:hover { margin: 1px 0 0 1px; }
	
.ctagray { font-family: 'companyweb', Arial, Helvetica, sans-serif; color: #757575; text-decoration: none; font-size: 22px; padding: 20px;  margin: 50px 1px 50px 0; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; display: inline-block; width: 920px; background-color: #F3F3F6; text-align: center; }
.ctagray:last-of-type { margin-bottom: 0px; }
.ctagray p { vertical-align: middle; display: inline-block; margin: 1px 20px 0 1px; color: #757575; }
.ctagray .buttonbig{ margin: 0 1px 1px 0; }
.ctagray .buttonbig:hover { margin: 1px 0 0 1px; }

.aanbod .greybox, .datamarketingsection .greybox { margin-bottom: 80px; }
.datamarketingsection article { margin-top: 40px; }
.datamarketingsection p:first-of-type { margin-bottom: 40px; }
.prosection article { margin-bottom: 125px; }
	.prosection article.pro { margin-bottom: 40px; }

.greyboxextrasmall { margin: 0 20px 40px 0; }
.greyboxextrasmall p, img { position: static; top: 0px; margin: 0; }
.greyboxextrasmall p { padding-left: 20px; padding-right: 20px; }

.greyboxextrasmallhigh { height: 120px; width: 120px; margin: 0 20px 240px 0; }
.greyboxextrasmallhigh p, img { position: static; top: 0px; margin: 0; }
.greyboxextrasmallhigh p { padding-left: 20px; padding-right: 20px; }

.greyboxextrasmallmedium { height: 120px; width: 120px;margin: 0 20px 90px 0; }
.greyboxextrasmallmedium p, img { position: static; top: 0px; margin: 0; }
.greyboxextrasmallmedium p { padding-left: 20px; padding-right: 20px; }

.greyboxextramedium { height: 150px; width: 150px;margin: 10px 10px 20px 0;}
.greyboxextramediumaanbod
{
    height: 180px;
    width: 180px;
    margin: 10px 30px 20px 0;
}
.greyboxextramedium p, img { position: static; top: 0px; margin: 0; }
.greyboxextramedium p { padding-left: 20px; padding-right: 20px; }


span.maildivider  { width: 1px; height: 80px; background-color: #d4e8ea; }
.pricedivider  { width: 1px; height: 133px; background-color: #d4e8ea; }

.belowpacks { margin: 0 13px 0 0; }

.delete { float: left; text-decoration: none; color: #eb3c34; }
.delete img { padding-bottom: 4px; padding-right: 5px; }
.delete img:hover { opacity:0.8; filter:alpha(opacity=80); }

.listresults { width: 578px; padding: 40px; background-color: #fafafa; }
.listresults table { width: 575px; }
.listresults a.buttonplus:first-of-type { margin-bottom: 20px; }
.listresults a.buttonplus:last-of-type { margin-top: 20px; }

div[role="tarieven"] li {padding: 0 0 0 10px;}

/* =============================================================================
   Footer
   ========================================================================== */
#wrap { min-height: 100%; height: 100%; margin: 0px auto -81px;  position: relative;}

footer { width: 100%; background-color: #00626b; height: 42px; color: #FFF; position: relative; margin-top: 39px; clear: both; }
	footer div { width: 960px; margin: auto;  }
	footer span { font-size: 12px; line-height: 40px; vertical-align: middle; height: 40px; }
	footer a { color: #FFF; text-decoration: underline; }
		footer a:visited { color: #FFF; }
		footer a:hover{ opacity:0.8; filter:alpha(opacity=80); }
		footer .organization-name a { text-decoration: none; }
		
.closed footer { background-color: #0b3135; }
.push { height: 40px; }


/* =============================================================================
   Companyweb
   ========================================================================== */
.selectionform { display: none; }

#selectionform { float: left; width: 70%; padding: 0.5em 0 0 0; }
#selectionform table { margin-left: 55px; }
#selectionform .submit { margin: 1em 0; }
#overview { float:left; width: 25%; margin: 0 2em 2em 0; padding-right: 1em; }
#bottomarea { clear: both; margin: 2em 0; }

tr.padtb td { padding: 1em 0; }


#hitcount { margin: 1em 0; }
#hitcountarea { float: left; }
#selnavbuttons { float: left; margin-left: 1px; }
#treeActivity, .seloviewodd, .selovieweven { font-size: 0.95em; }

.seloviewtable{ }
.seloviewtitle td { font-weight: 700; text-decoration: underline; padding: 1em 0 0 0; }
.seloviewodd td:first-child, .selovieweven td:first-child { padding: 0 0 0 1em; }


/* =============================================================================
   Tables
   ========================================================================== */
   
#tabletopimg, #tablebottomimg, #headerimg  { display: none; }

.tablesorter{ width: 100%; border: 0; }
.singlecolumntable  table  th { -moz-border-radius: 15px 15px 0 0; -webkit-border-radius: 15px 15px 0 0; border-radius: 15px 15px 0 0; } /* fix for bug if table contains only one column */

table a { color: #222; text-decoration:none }

table th
{
    padding: 10px 10px 10px 15px;
    background-color: #8dc5cd;
    font-weight: normal;
    color: #FFF;
    height: 16px;
    text-align: left;
    border-bottom: 1px solid #FFF;
    border-left: 1px solid #FFF;
}


.header:hover { background-color: #dedede; cursor: pointer; }
	
tr>:first-child { border-left: 0; } 
.unselected, .unselected a { color:#999  }

th:first-child { -moz-border-radius: 15px 0 0 0; -webkit-border-radius: 15px 0 0 0; border-radius: 15px 0 0 0; }
th:last-child { -moz-border-radius: 0 15px 0 0; -webkit-border-radius: 0 15px 0 0;border-radius: 0 15px 0 0; }

th .selected { color: #222; }

table.leftalign  td, table.leftalign  th { text-align: left; }
table.centeralign  td, table.centeralign  th { text-align: center; }
table.rightalign  td, table.rightalign  th { text-align: right; }

table.noborders td, table.noborders th { border: 0; }
table.nopadding { padding: 0; }

table tbody td { border-bottom: 1px dotted #cacaca; text-align:center; line-height: 16px; }

table td.leftalign { text-align: left; }
table td.centeralign { text-align: center; }
table td.rightalign { text-align: right; }

table th { text-align: center; }

table th.leftalign { text-align: left; }
table th.centeralign { text-align: center; }
table th.rightalign { text-align: right; padding-right:0px; }

p.rightalign { text-align: right; }
p.centeralign { text-align: center; }

.nodottedbottomline { border-bottom: 0;}
.topline { border-top: 1px solid #757575;}
tbody td a:hover { text-decoration:none; }

tbody td
{
    padding: 10px 10px 10px 15px;
}
table.minorspacing tbody td { padding: 5px; }
table.nospacing tbody td { padding: 0px; }
table.nospacing  label { padding-bottom: 12px; }
tbody td a { display:block; font-size: 15px; color: #757575; }
	tbody td a:visited {  color: #757575; }
	
td.color {
padding: 0;
width: 5px;
}

td.red, table#accounts tbody tr:hover td.red	{
background: #FF0000; 
}

td.orange, table#accounts tbody tr:hover td.orange {
background: #FF6600;
}

td.yellow, table#accounts tbody tr:hover td.yellow {
background: #FFCC00;
}

td.lime, table#accounts tbody tr:hover td.lime {
background: #CCCC00;
}

td.green, table#accounts tbody tr:hover td.green {
background: #66CC00;
}

td.greentext, table#accounts tbody tr:hover td.greentext {
color: #64a2ab;
}

td.greytext, table#accounts tbody tr:hover td.greytext {
color: #757575;
}
	
div.smalllabels label, form.smalllabels label { padding-bottom: 5px; }
	
.topleftcorner { -moz-border-radius: 15px 0 0 0; -webkit-border-radius: 15px 0 0 0; border-radius: 15px 0 0 0; }
.toprightcorner { -moz-border-radius: 0 15px 0 0; -webkit-border-radius: 0 15px 0 0;border-radius: 0 15px 0 0; }
.bottomleftcorner { -moz-border-radius: 0 0 0 15px; -webkit-border-radius: 0 0 0 15px; border-radius: 0 0 0 15px; }
.bottomrightcorner { -moz-border-radius: 0 0 15px 0; -webkit-border-radius: 0 0 15px 0;border-radius: 0 0 15px 0; }

tr.odd { background-color: #FFF; }
tr.even { background-color: #FAFAFA; }

table#accounts tbody tr:hover td { background: #e2f0f2; color: #FFF; }

.tablefooter { background-color:#8dc5cd; padding: 5px; border-top: 1px solid #cacaca; margin-top: -1px; margin-bottom: 40px; -moz-border-radius: 0 0 15px 15px;-webkit-border-radius: 0 0 15px 15px;border-radius: 0 0 15px 15px;}
.tablefooter.nobottomspace { margin-bottom: 10px; }
div[role="warnings"] .tablefooter {width: 400px;}
.nobottomspace { margin-bottom: 0px; }

.maxwidth { width: 40%;}


/* =============================================================================
	Auto complete
   ========================================================================== */
.yui-skin-sam .yui-ac-container, .yui-skin-sam .yui-ac-content ul { width: 37%; }

/* =============================================================================
	Tooltips
   ========================================================================== */
p#vtip { display: none; position: absolute; padding: 10px; font-size: 12px; background-color: #fff; border: 1px solid #a6c9e2; z-index: 9999; text-align: left; margin: 0 25px 25px -25%; }
p#vtip #vtipArrow { position: absolute; top: -10px; left: 50%; display: none; }

a.vtip { text-decoration: none; }
a.vtip img { padding-bottom: 5px; }

/* =============================================================================
   Arrow animations
   ========================================================================== */
.redArrow { position: relative; display: inline-block; margin-right: 10px; top: 3px; width: 9px; height: 15px; background: url("../img/linkwitharrowred.png") no-repeat center 0px; }
.animateArrow { -webkit-transition-property: -webkit-transform; /*-webkit-transition-duration: 0.2s;*/ -webkit-transition-timing-function: ease-in; -webkit-transition-delay: initial; -moz-transition: -moz-transform 0.2s ease-in; -ms-transition: -ms-transform 0.2s ease-in;/* Required to prevent flicker in Safari */ -webkit-perspective: 1000; -webkit-backface-visibility: hidden; }
.animateArrowParent:hover .animateArrow { -webkit-transform: translate(5px, 0); -moz-transform: translate(5px, 0); -ms-transform: translate(5px, 0); transform: translate(5px, 0); background-position: center -24px; }



div.clearbutton { width: auto; height: auto; clear: both; }

/* =============================================================================
   Styled checkboxes
   ========================================================================== */

/* ------------------------------------------------------------------------
	This you can customize
------------------------------------------------------------------------- */

	label.checkbox span.holder {
		height: 61px; /* Total height of your checkbox image */
		background: url(../img/checkbox.png) 0 -23px no-repeat; /* Path to your checkbox image */
	}
	
	label.radio span.holder {
		height: 50px; /* Total height of your radio buttons image */
		background: url(../img/radiobutton.png) 0 -33px no-repeat; /* Path to your radio button image */
	}
	
	label.radio { padding: 0 36px 20px 0; }
	
	div[role="starters"] label.radio
{
    padding: 0 10px 0px 0;
}
	label.radio.nopadding { padding: 0; }
	
	label.checkbox.list.checked span.holder,
	label.checkbox.list.checked span.holder,
	label.checkbox.list.checked:hover span.holder,
	label.checkbox.list.checked:hover span.holder { background-position: 0 -4px !important; } /* Background position when checked */
	
	label.radio.list.checked span.holder,
	label.radio.list.checked span.holder,
	label.radio.list.checked:hover span.holder,
	label.radio.list.checked:hover span.holder { background-position: 0 -8px !important; } /* Background position when checked */

/* ------------------------------------------------------------------------
	Customize at your own risk
------------------------------------------------------------------------- */

	label.list {
		float: left; /*clear: left;*/
		margin: 0;
	}
	
	label.inline {
		float: left; margin: 0 10px 0 0;
	}
	
		input.hiddenCheckbox {
			position: absolute; left: -10000px; /* Hide the input */
		}
	
		label.prettyCheckbox span.holderWrap {
			display: block; float: left;
			position: relative;
			margin-right: 5px;
			overflow: hidden;
		}
		
		label.prettyCheckbox span.holder {
			display: block;
			position: absolute;
			top: 0; left: 0;
		}
   
	
/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



a:active, a:selected, a:visited { 
    border: none;
    outline: none;
}

 .smaller { font-size: 12px; }
 
 
.divscroll
{
    height:420px;
    width:100%;
    overflow:auto;
}
a {
  color: #333;
  transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -webkit-transition: color 0.2s linear;
}
 
a:hover {
  color: #289dd6;
}