/*
Product Name: dhtmlxChart 
Version: 5.0 
Edition: Standard 
License: content of this file is covered by GPL. Usage outside GPL terms is prohibited. To obtain Commercial or Enterprise license contact sales@dhtmlx.com
Copyright UAB Dinamenta http://www.dhtmlx.com
*/

/*
	skin detected: material
	include extra file: skins/material.less
*/

@keyframes dhx_loader_rotate {
	100% {
		transform: rotate(360deg);
	}
}
@keyframes dhx_loader_dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}
.dhx_tooltip {
	display: none;
	position: absolute;
	color: #626262;
	z-index: 10000;
	padding: 4px 10px 4px 10px;
	border: 1px solid #fff;
	border-radius: 2px;
	text-shadow: 0px 1px 1px #fff;
	box-shadow: 0 0 5px #d9d9d9;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#efefef),color-stop(0.5,#f6f6f6),color-stop(1,#efefef));
	background: -o-linear-gradient(#efefef 0%,#f6f6f6 50%,#efefef 100%);
	background: -ms-linear-gradient(#efefef 0%,#f6f6f6 50%,#efefef 100%);
	background: -moz-linear-gradient(#efefef 0%,#f6f6f6 50%,#efefef 100%);
	background: #efefef;
	font-size: 14px;
	font-family: Roboto, Arial, Helvetica;
	color: #404040;
}
.dhx_chart {
	position: relative;
	font-family: Roboto, Arial, Helvetica;
	font-size: 14px;
	color: ;
	overflow: hidden;
	z-index: 0;
}
.dhx_chart canvas {
	position: absolute;
	left: 0;
	top: 0;
}
.dhx_canvas_text {
	position: absolute;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	z-index: 1000;
}
.dhx_map_img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	border: 0px;
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.dhx_axis_item_y {
	position: absolute;
	height: 18px;
	line-height: 18px;
	margin-top: -4px;
	text-align: right;
}
.dhx_axis_title_x {
	text-align: center;
}
.dhx_axis_title_y {
	text-align: center;
	height: 18px;
	line-height: 18px;
	font-size: 14px;
	font-family: Roboto, Arial, Helvetica;
	color: #404040;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.dhx_ie_filter {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	zoom: 1;
	font-family: serif;
}
.dhx_chart_legend {
	position: absolute;
	z-index: 1000;
}
.dhx_chart_legend_item {
	height: 18px;
	line-height: 18px;
	padding: 2px;
	cursor: pointer;
}
.dhx_chart_legend_item.hidden {
	color: #aaa;
}
.dhx_axis_item_y.dhx_radar {
	color: #404040;
	font-size: 12px;
	padding-right: 3px;
	height: 13px;
	line-height: 13px;
	margin-top: 0px;
}
.dhx_canvas_text.dhx_axis_radar_title {
	margin-top: 0px;
	padding-top: 0px;
}
.dhx_axis_item_y,
.dhx_axis_item_x {
	color: #404040;
}
.dhx_axis_item_x {
	padding-top: 2px;
}
