/* calendar icon */
img.tcalIcon {
	cursor: pointer;
	vertical-align: middle;
}
/* calendar container element */
div#tcal {
	position: absolute;
	visibility: hidden;
	z-index: 100;
	width: 158px;
	padding: 2px 0 0 0;
}
/* all tables in calendar */
div#tcal table {
	width: 100%;
	border: 1px solid silver;
	border-collapse: collapse;
	background-color: white;
}
/* navigation table */
div#tcal table.ctrl {
	border-bottom: 0;
}
/* navigation buttons */
div#tcal table.ctrl td {
	width: 15px;
	height: 20px;
	border: 0;
}
/* month year header */
div#tcal table.ctrl th {
	background-color: white;
	color: black;
	border: 0;
}
/* week days header */
div#tcal th
{
    border: 0;
    border-collapse: collapse;
    text-align: center;
    padding: 3px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    background-color: #00397A;
    color: white;
}
/* date cells */
div#tcal td {
	border: 1px outset #FFFFFF;
    border-collapse: collapse;
	text-align: center;
	padding: 2px 0;
	font-family: Arial, Helvetica, sans-serif;
	color:black;
	font-size: 11px;
	width: 22px;
	cursor: pointer;
	font-weight:bold;
}
/* date highlight
   in case of conflicting settings order here determines the priority from least to most important */
div#tcal td.othermonth {
	color: gray;
	font-weight:normal;
}
div#tcal td.weekend
{
    background-color: #CCCCCC;
}
div#tcal td.today {
	border: 1px outset red;
}
div#tcal td.selected
{
    background-color: #660033;
    color:White;
}
/* iframe element used to suppress windowed controls in IE5/6 */
iframe#tcalIF {
	position: absolute;
	visibility: hidden;
	z-index: 98;
	border: 0;
}
/* transparent shadow */
div#tcalShade {
	position: absolute;
	visibility: hidden;
	z-index: 99;
}
div#tcalShade table {
	border: 0;
	border-collapse: collapse;
	width: 100%;
}
div#tcalShade table td {
	border: 0;
	border-collapse: collapse;
	padding: 0;
}
