body  {
	font: 12px Arial, Helvetica, sans-serif;
	background: #EAF2FA;
	text-align: center;
	margin:0;
}

.whitebody  {
	background: #FFFFFF;
	text-align: center;
	margin:0;
}

.redtext
{
    color: #CC0000;
}

a
{ 
    text-decoration:none;
}

.link
{	
    font: 12px Arial, Helvetica, sans-serif;
	color: #000;
	text-decoration : underline;
}

.linkgreen
{
    font: 12px Arial, Helvetica, sans-serif;
    color: #009933;
    text-decoration: underline;
}

.linkred
{
    font: 12px Arial, Helvetica, sans-serif;
    color: #CC0000;
    text-decoration: underline;
}

.linkwhite
{
    font: 12px Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: underline;
}


body #main_content
{
    margin: 0px 0px 0 40px;
    min-height: 500px;
    max-width: 1200px;
    min-width: 900px;
    font: 12px Arial, Helvetica, sans-serif;
}


#header { 
	background: #00397A;
	height: 65px;
	overflow: hidden;
}

#menuwrapper {
	width: 90%;
	max-width: 1200px;
	min-width: 1000px; 
	background: url(../images/logo.png) no-repeat 0em 0em;
	margin: 0 auto;
	text-align: left;
	height: 55px;
	overflow: hidden;
}

#logolink {
float: left;
height: 55px;
width: 250px;
}

#container { 
	margin: 0 auto;
	text-align: left;
	background: #fff url(../images/shadow_left_container.png) repeat-y left top;
	font-size: 0.75em;
	line-height: 1.4em;
	padding:0px;
    width: 95%;
}

#container_inner { 
	background: transparent url(../images/shadow_right_container.png) repeat-y right top;
	padding-top: 0.5em;
	min-height: 500px;
}

#footer
{
    padding: 0;
    margin: 2em 0 0 0;
    background: url(../images/footer_repeat.png) repeat-x center top;
    height: 4em;
    text-align: center;
    color: #fff;
    font: 12px Arial, Helvetica, sans-serif;
    word-spacing: 3px;
} 

#footer_left {
	background: url(../images/footer_left.png) no-repeat left top;
	width: 4em;
	height: 4em;
	float: left;
	}
	
#footer_right {
	background: url(../images/footer_right.png) no-repeat right top;	
	width: 4em;
	height: 4em;
	float: right;
	}

#footer_inner {
	padding-top: 0.7em;
	}


.clearfloat{
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

.white{
	color: #fff;	
}

/*  module */
div.module {
	padding: 0;
	margin: 0 auto;
}

.module div.module_title {
	background: transparent url(../images/round_tl.png) top left no-repeat;
}

.module div.module_title div {
	background: transparent url(../images/round_tr.png) top right no-repeat;
}

.module div.module_title div table
{
    font: bold 12px Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin: 0px 0px 0px 10px;
    padding: 0px !important;
}

.module div.module_title div table td
{
    padding: 0.3em 1.5em 0.3em 0.7em;
}

.module div.module_title div table td.title {
	text-align: left;
}

.module div.module_title div table td.links {
	text-align: right;
}

.module div.module_title a {
	color: #fff;
}

.module div.module_content {
	width: 100%;
	background: transparent url(../images/round_bl.png) bottom left no-repeat;	
}

.module div.module_content div {
	background: transparent url(../images/round_br.png) bottom right no-repeat;
	border-top: 1px solid #E0E0E0;
}


.module div.module_content table
{
    width: 95%;
    font: 12px Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 0 auto;
}

.tabletitle
{
    font: bold 12px Arial, Helvetica, sans-serif;
}

.titleRap
{
    font: bold 13px Arial, Helvetica, sans-serif;
    color: #808080;
}

.module div.module_content td {
	border: none;
	margin: 0;	
}

.module div.module_content a
{
    color:Green;
}

/*  info */
div.info {
	padding: 0;
	margin: 0 auto;
}

.title
{
    background: #00397A none no-repeat left top;
    font: bold 12px Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding: 0px 0px 0px 10px;
    height: 20px;
    width:100%;
}

.divtable
{
    font: 12px Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 0px;
    background: #C0C0C0 none no-repeat left top;
}

.tabledialog
{
    font: 12px Arial, Helvetica, sans-serif;
    text-align: left;
    margin:0px;
}

.tablecontent
{
    font: 12px Arial, Helvetica, sans-serif;
    text-align: left;
    margin:0px;
    width: 100%;
}

.tablecontentspecial
{
    font: 12px Arial, Helvetica, sans-serif;
    text-align: left;
}

.tablecontent div
{
    /*overflow: auto;*/
    height: 125px;
}

.tablecontent div.contactlist
{
    overflow: auto;
    height: 80px;
}

.tabletitle
{
    font: bold 12px Arial, Helvetica, sans-serif;
}

.info div.info_content td {
	border: none;
	margin: 0;	
}

.info div.info_content a
{
    color:Green;
}

.hrthin
{
  background-color: #808080;
  height:1px;
}

.hrthinblue
{
  background-color: #00397A;
  height:1px;
}

.inputtextmedium
{
    font: 12px Arial, Helvetica, sans-serif;
    color: #222;
    padding: 0.1em;
    border: 1px solid #ccc;
    width: 145px;
    background-color: #F4FAFF;
}

.inputtextlist
{
    font: 12px Arial, Helvetica, sans-serif;
    color: #222;
    padding: 0.1em;
    border: 1px solid #ccc;
    width: 90px;
    background-color: #F4FAFF;
}

.inputtextdate
{
    font: 12px Arial, Helvetica, sans-serif;
    color: #222;
    padding: 0.1em;
    border: 1px solid #ccc;
    width: 66px;
    background-color: #F4FAFF;
}

.inputtext
{
    font: 12px Arial, Helvetica, sans-serif;
    color: #222;
    padding: 0.1em;
    border: 1px solid #ccc;
    width: 195px;
    background-color: #F4FAFF;
}


.inputtextdbl
{
    font: 12px Arial, Helvetica, sans-serif;
    color: #222;
    padding: 0.1em;
    border: 1px solid #ccc;
    width: 300px;
    background-color: #F4FAFF;
}

.inputtextsmall{
	font: 12px Arial, Helvetica, sans-serif;color: #222;
	padding: 0.1em;
	border: 1px solid #ccc;
	width:47px;
    background-color: #F4FAFF;
}

.inputtextwhite
{
    font: 12px Arial, Helvetica, sans-serif;
    color: #222;
    padding: 0.1em;
    border: 1px solid #ccc;
    width: 330px;
}

.inputtextwhitemedium
{
    font: 12px Arial, Helvetica, sans-serif;
    color: #222;
    padding: 0.1em;
    border: 1px solid #ccc;
    width: 150px;
}

.inputtextwhitesmall
{
    font: 12px Arial, Helvetica, sans-serif;
    color: #222;
    padding: 0.1em;
    border: 1px solid #ccc;
    width: 80px;
}

.button
{
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    font: 12px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-transform: capitalize;
    background-color: #3366CC;
    height: 20px;
}

.buttongreen
{
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    font: 12px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-transform: capitalize;
    background-color: #30BA4A ;
    height: 20px;
}

.buttonred
{
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    font: 12px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-transform: capitalize;
    background-color: #E34459;
    height: 20px;
}

.select{
	font: 12px Arial, Helvetica, sans-serif;color: #222;
	padding: 0.1em;
    background-color: #F4FAFF;
    border: 1px solid #ccc;
    width: 195px;
}

.selectbig{
	font: 12px Arial, Helvetica, sans-serif;color: #222;
	padding: 0.1em;
    background-color: #F4FAFF;
    border: 1px solid #ccc;
    width: 250px;
}

.selectsmall{
	font: 12px Arial, Helvetica, sans-serif;color: #222;
	padding: 0.1em;
    background-color: #F4FAFF;
    border: 1px solid #ccc;
    width:70px;
}

.selectlist{
	font: 12px Arial, Helvetica, sans-serif;color: #222;
	padding: 0.1em;
    background-color: #F4FAFF;
    border: 1px solid #ccc;
    width:90px;
}

.select100{
	font: 12px Arial, Helvetica, sans-serif;color: #222;
	padding: 0.1em;
    background-color: #F4FAFF;
    border: 1px solid #ccc;
    width:100px;
}

.textarea{
	font: 12px Arial, Helvetica, sans-serif;color: #222;
	padding: 0.1em;
	border: 1px solid #ccc;
	background-color: #F4FAFF;
	width: 560px;
	height:158px;
}

.textareashort{
	font: 12px Arial, Helvetica, sans-serif;color: #222;
	padding: 0.1em;
	border: 1px solid #ccc;
	background-color: #F4FAFF;
	width: 560px;
	height:50px;
}

.textareashortwhite{
	font: 12px Arial, Helvetica, sans-serif;color: #222;
	padding: 0.1em;
	border: 1px solid #ccc;
	background-color: #FFFFFF;
	width: 400px;
	height:80px;
	text-align:left;
}

.textareasmall{
	font: 12px Arial, Helvetica, sans-serif;color: #222;
	padding: 0.1em;
	border: 1px solid #ccc;
	background-color: #F4FAFF;
	width: 220px;
	height:140px;
}

.error	
{
    font: 14px Arial, Helvetica, sans-serif;
    color: #ae1a11;
    font-weight:bold;
}

.borderclass
{
    border: 1px solid #808080;
}

.infopopup {
    position: absolute;
    right:80px;
    bottom:100px;
    margin: auto;
}

.specialframe
{
    font: 12px Arial, Helvetica, sans-serif;
	background: #F2F2F2;
	text-align: center;
	margin:0;
	overflow:hidden;
}

.bodyprint
{
    font: 12px Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 0px;
}

.tableprint
{
    background:#ffffff;
    height:250px;
    margin:15px;
    padding:10px;
}
.regular
            {
                FONT-SIZE: 12px;
                COLOR: black;
                FONT-FAMILY: Verdana, Helvetica;
                TEXT-ALIGN: justify
            }
            .text
            {
                font: 12px Arial, Helvetica, sans-serif;
                COLOR: black;
            }
            .textred
            {
                font: 12px Arial, Helvetica, sans-serif;
                color: #CC0000;
            }
            .textgreen
            {
                font: 12px Arial, Helvetica, sans-serif;
                color: #009933;
            }
            .textorange
            {
                font: 12px Arial, Helvetica, sans-serif;
                color: #FF9900;
            }
            .textpurple
            {
                font: 12px Arial, Helvetica, sans-serif;
                color: #660066;
                font-weight: bold;
            }
            .textbold
            {
                font: 12px Arial, Helvetica, sans-serif;
                COLOR: black;
                font-weight:bold;
            }
            .whitetext
            {                
                font: 12px Arial, Helvetica, sans-serif;
                COLOR: white;
                font-weight:bold;
            }
            .smalltext
            {
                FONT-SIZE: 10px;
                COLOR: black;
                FONT-FAMILY: Verdana, Helvetica;
                TEXT-DECORATION: none
            }
            .forCopyright
            {
                FONT-SIZE: 10px;
                COLOR: #666666;
                FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
            }
            .forTexts
            {
                FONT-SIZE: 10px;
                COLOR: #333333;
                LINE-HEIGHT: 15px;
                FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
            }
            .forNav
            {
                FONT-SIZE: 11px;
                COLOR: #333333;
                LINE-HEIGHT: 18px;
                FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
                TEXT-ALIGN: center
            }
            .forNavin
            {
                FONT-WEIGHT: bold;
                FONT-SIZE: 11px;
                COLOR: #333333;
                LINE-HEIGHT: 18px;
                FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
                TEXT-ALIGN: justify
            }
            .forForms
            {
                BORDER-RIGHT: 1px inset;
                BORDER-TOP: 1px inset;
                FONT-SIZE: 10px;
                BORDER-LEFT: 1px inset;
                BACKGROUND-COLOR: #ebe8e1;
                BORDER-BOTTOM: 1px inset;
                FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
            }
            .forButton
            {
                BORDER-RIGHT: 1px outset;
                BORDER-TOP: 1px outset;
                FONT-SIZE: 10px;
                BORDER-LEFT: 1px outset;
                COLOR: #000000;
                BORDER-BOTTOM: 1px outset;
                FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
            }
            .LeftNav
            {
                FONT-WEIGHT: bold;
                FONT-SIZE: 11px;
                COLOR: #1B3E5C;
                
                FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
                BACKGROUND-COLOR: #ebe8e1
            }
            .LeftNavIn
            {
                FONT-WEIGHT: bold;
                FONT-SIZE: 11px;
                COLOR: #1B3E5C;
                
                FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
                BACKGROUND-COLOR: #f7f3f0
            }
            .inputSearch
            {
                BORDER-RIGHT: #bcbbb6 1px inset;
                BORDER-TOP: #bcbbb6 1px inset;
                FONT-SIZE: 11px;
                BORDER-LEFT: #bcbbb6 1px inset;
                WIDTH: 118px;
                COLOR: #1B3E5C;
                
                BORDER-BOTTOM: #bcbbb6 1px inset;
                FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
                HEIGHT: 20px;
                BACKGROUND-COLOR: #c1bdba
            }
            .searchbutton
            {
                BORDER-RIGHT: #b5b2ab 1px solid;
                BORDER-TOP: #b5b2ab 1px solid;
                FONT-SIZE: 11px;
                BORDER-LEFT: #b5b2ab 1px solid;
                COLOR: #1B3E5C;
                BORDER-BOTTOM: #b5b2ab 1px solid;
                FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
                BACKGROUND-COLOR: #edeae3
            }
            .abLink
            {
                FONT-SIZE: 10px;
                COLOR: #333333;
                LINE-HEIGHT: 15px;
                FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	            text-decoration: none;
            }
            
            
.clearboth{
	clear: both;
}

#mc-results{
	min-height: 400px;
}

.divscroll
{
    height:600px;
    width:100%;
overflow:auto;
}

.whiteback
{
    background-color:White;
}

.clsTitle
            {
                FONT-SIZE: 10px;
                COLOR: white;
                FONT-FAMILY: Verdana, Helvetica;
                TEXT-DECORATION: none;
                font-weight:bold;
                height:25px;
            }
            .clsText
            {
                FONT-SIZE: 10px;
                COLOR: black;
                FONT-FAMILY: Verdana, Helvetica;
                TEXT-DECORATION: none;
            }
            .clsTextBold
            {
                FONT-SIZE: 10px;
                COLOR: black;
                FONT-FAMILY: Verdana, Helvetica;
                TEXT-DECORATION: none;
                font-weight:bold;
                height:25px;
            }
            .clsTextLink
            {
                FONT-SIZE: 10px;
                COLOR: black;
                FONT-FAMILY: Verdana, Helvetica;
                TEXT-DECORATION: underline;
            }
            .clsButton
            {
                BORDER-RIGHT: 1px outset;
                BORDER-TOP: 1px outset;
                FONT-SIZE: 10px;
                BORDER-LEFT: 1px outset;
                COLOR: #000000;
                BORDER-BOTTOM: 1px outset;
                FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
            }
            .clsInput
            {
                BORDER-RIGHT: #bcbbb6 1px inset;
                BORDER-TOP: #bcbbb6 1px inset;
                FONT-SIZE: 11px;
                BORDER-LEFT: #bcbbb6 1px inset;
                WIDTH: 130px;
                COLOR: #000000;
                
                BORDER-BOTTOM: #bcbbb6 1px inset;
                FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
                HEIGHT: 20px;
                BACKGROUND-COLOR: #FFFFFF;
            }
            .clsSelect
            {
                BORDER-RIGHT: #bcbbb6 1px inset;
                BORDER-TOP: #bcbbb6 1px inset;
                FONT-SIZE: 11px;
                BORDER-LEFT: #bcbbb6 1px inset;
                WIDTH: 130px;
                COLOR: #000000;
                
                BORDER-BOTTOM: #bcbbb6 1px inset;
                FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
                HEIGHT: 20px;
                BACKGROUND-COLOR: #FFFFFF;
            }
            .clsSelectBig
            {
                BORDER-RIGHT: #bcbbb6 1px inset;
                BORDER-TOP: #bcbbb6 1px inset;
                FONT-SIZE: 11px;
                BORDER-LEFT: #bcbbb6 1px inset;
                WIDTH: 200px;
                COLOR: #000000;
                
                BORDER-BOTTOM: #bcbbb6 1px inset;
                FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
                HEIGHT: 20px;
                BACKGROUND-COLOR: #FFFFFF;
            }
            
            .clsul
            {
                margin-left:20px;
            }
 

.numbers {
    border-style: none;
    padding: 0px;
    width: 31px;
    height: 21px;
    text-align: center;
    font-family: Arial;
    font-size: 28px;
    font-weight: normal;    /* options are normal, bold, bolder, lighter */
    color: #FFFFFF;     /* change color using the hexadecimal color codes for HTML */
}
.counter {    /* the styles below will affect the outer border of the countdown timer */
    width: 247px;
    height: 31px;
    border-style: ridge;    /* options are none, dotted, dashed, solid, double, groove, ridge, inset, outset */
    border-width: 2px;
    border-color: #888484;  /* change color using the hexadecimal color codes for HTML */
    background-color:black;
    padding: 5px;
    position:relative;
    right:0px;
    float:right;
}
.countergreen {    /* the styles below will affect the outer border of the countdown timer */
    width: 247px;
    height: 31px;
    border-style: ridge;    /* options are none, dotted, dashed, solid, double, groove, ridge, inset, outset */
    border-width: 2px;
    border-color: #888484;  /* change color using the hexadecimal color codes for HTML */
    background-color:#2768b2;
    padding: 5px;
    position:relative;
    right:0px;
    float:right;
}
.line {
    width: 31px;
    height: 1px;
    z-index: 15;
}

.counterdiv
{
    position:absolute;
    top:210px;
    right:140px;
    z-index:99;
}
.counterdiv2
{
    position:absolute;
    top:270px;
    right:140px;
    z-index:99;
}